@font-face {
    font-family: 'Avara_Bold';
    src:    url('static/fonts/AvaraBold/Avara-Bold_web.eot');
    src:    url('static/fonts/AvaraBold/Avara-Bold_web.eot?#iefix') format('embedded-opentype'),
            url('static/fonts/AvaraBold/Avara-Bold_web.woff') format('woff'),
            url('static/fonts/AvaraBold/Avara-Bold_web.woff2') format('woff2'),
            url('static/fonts/AvaraBold/Avara-Bold_web.ttf') format('truetype'),
            url('static/fonts/AvaraBold/Avara-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400i');

.focused {
  fill: #33CC33;
}

html {
  background-color: #CCD7DD
}

div {
  background-color: #CCD7DD;
  color: #637079;
}

.countryBasic {
  transform: skewY(15deg);
  margin-top: 7rem;
  font-family: "Avara_Bold", "IBM Plex Mono"
}

.searchLink {
  color: #637079;
}

.countryflag {
  height: 2em;
  width: auto;
  padding-left: 1.75em;
}

.wikiextract {
  font-size: 0.8em;
  font-family: 'IBM Plex Mono';
}

.reticle {
  margin: 0 auto;
  display: block;
}

.mapView {
  margin: 0 auto;
  display: block;
}

.allCountries a {
  color: #000;
  font-size: 2.25rem;
  font-weight: bolder;
}

.allCountries a:hover {
  text-transform: uppercase;
  text-decoration: none;
}

.countryGrid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.countryGrid > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: flex-start;
  flex-direction: column;
}

.box1 {
  border-style: none solid none none;
  border-width: thin;
}

.box2 {
  border-bottom: solid;
  border-width: thin;
}

.box3 {
  border-right: solid;
  border-width: thin;
}

.box4 {

}


.countryGlobe {
  display: block;
  position: relative;
  align-items: center;
  height: 100%
}

.reticle {
  position: absolute;
  height: 575px;
  width: 575px;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.wikiextract {
  overflow-y: scroll;
  max-height: 300px;
}

.wikiLogo {
  max-height: 2.25rem;
}

.frontMap {
  align-self: center;
}

.currencyGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: "IBM Plex Mono";
  text-align: center;
}

.exchangeHistory {
  border-top: 1px solid #637079;
  grid-column: 1 / span 2;
}

.creditsLink {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-family: 'IBM Plex Mono';
  color: #637079;
}

.creditsLink a {
  font-family: 'IBM Plex Mono';
  color: #637079;
}

/* for react-autosuggest */
.react-autosuggest__container {
  position: relative;
  display: block;
}

.react-autosuggest__input {
  width: 100%;
  height: 30px;
  padding: 10px 20px;
  text-align: center;
  font-family: 'IBM Plex Mono';
  background-color: #CCD7DD;
  color: #637079;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #637079;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  border: 1px solid #637079;
  background-color: #CCD7DD;
  font-family: 'IBM Plex Mono';
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #CCD7DD;
  color: #FF2600;
  border: 1px solid #FF2600;
}
