@font-face {
    font-family: 'Avara_Bold';
    src:    url('static/fonts/AvaraBold/Avara-Bold_web.eot');
    src:    url('static/fonts/AvaraBold/Avara-Bold_web.eot?#iefix') format('embedded-opentype'),
            url('static/fonts/AvaraBold/Avara-Bold_web.woff') format('woff'),
            url('static/fonts/AvaraBold/Avara-Bold_web.woff2') format('woff2'),
            url('static/fonts/AvaraBold/Avara-Bold_web.ttf') format('truetype'),
            url('static/fonts/AvaraBold/Avara-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400i');

.focused {
  fill: #33CC33;
}

html {
  background-color: #CCD7DD
}

div {
  background-color: #CCD7DD;
  color: #637079;
}

.countryBasic {
  transform: skewY(15deg);
  margin-top: 7rem;
  font-family: "Avara_Bold", "IBM Plex Mono"
}

.searchLink {
  color: #637079;
}

.countryflag {
  height: 2em;
  width: auto;
  padding-left: 1.75em;
}

.wikiextract {
  font-size: 0.8em;
  font-family: 'IBM Plex Mono';
}

.reticle {
  margin: 0 auto;
  display: block;
}

.mapView {
  margin: 0 auto;
  display: block;
}

.countryGlobe {
  display: flex;
  align-items: center;
  height: 100%
}

.allCountries a {
  color: #000;
  font-size: 2.25rem;
  font-weight: bolder;
}

.allCountries a:hover {
  text-transform: uppercase;
  text-decoration: none;
}

.countryGrid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.countryGrid > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: flex-start;
  flex-direction: column;
}

.box1 {
  border-style: none solid solid none;
  border-width: thin;
}

.box2 {
  border-bottom: solid;
  border-width: thin;
}

.box3 {
  border-right: solid;
  border-width: thin;
}

.box4 {

}

.wikiextract {
  overflow-y: scroll;
  max-height: 250px;
}
